#body .products {
  min-height: 375px;

  .item {
    @include media-breakpoint-up(lg) {
      min-height: 250px;
    }

    .product-image {
      cursor: pointer;

      &:hover {
        .product-quickview {
          opacity: 1;
        }
      }
    }

    .product-quickview {
      border-radius: 0px;
      bottom: 0;
      font-size: 1.3rem;
      left: 0;
      opacity: 0;
      position: absolute;
      transition: all 0.1s ease-in-out;
      width: 100%;
    }
  }
}

.sidenav {
  background: #ddd;
  position: fixed;
  top: 0;
  right: -999em;
  width: 30%;
  height: 100vh;
  transition: all 0.3s ease-out;
  z-index: 100;

  > .wrapper {
    height: calc(100vh - 32px - 45px);
    overflow: auto;

    @media screen and (max-width: 782px) {
      height: calc(100vh - 48px);
    }
  }

  .actions {
    height: 45px;
  }

  .close {
    cursor: pointer;
    float: none;
  }

  &.open {
    right: 0;
  }

  .product-description {
    // display: none;
  }

  .logged-in & {
    height: calc(100vh - 32px);
    top: 32px;

    @media screen and (max-width: 782px) {
      height: calc(100vh - 48px);
      top: 48px;
    }
  }
}

#body .product-detail-page {
  color: $color-text;
  
  h1 {
    color: $color-text;
    font-size: 3.6rem;
    font-weight: 500;
  }

  .product-image {
    border: 1px solid transparent;
    border-radius: 20px;
    outline: none;

    &.active {
      border-color: $color-accent;
    }
  }
}

#body .product-meta {
  .title {
    color: $color-text;
    font-family: $font-heebo;
    font-size: 2rem;
    font-weight: 500;
  }

  .product-toggle {
    border-top: 1px solid $color-accent;
  }

  .product-toggle-title {
    font-size: 1.8rem;

    i {
      color: $color-accent;
      font-size: 1rem;
      vertical-align: middle;
    }

    .fa-minus {
      display: inline-block;
    }

    .fa-plus {
      display: none;
    }

    &.collapsed {
      .fa-minus {
        display: none;
      }

      .fa-plus {
        display: inline-block;
      }
    }
  }

  .badge {
    background: $color-white;
    border: 1px solid rgba($color-text, .7);
    border-radius: 20px;
    color: rgba($color-text, .7);
    font-size: 1.4rem;
    transition: all .1s ease-out;

    a {
      color: rgba($color-text, .7);
    }

    &:hover,
    &.active {
      border-color: $color-accent;
      color: $color-accent;

      a {
        color: $color-accent;
      }
    }
  }
}

#productMainImage {
  min-height: 400px;

  .loader {
    font-size: 2rem;
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -25px;
    position: absolute;
    top: 50%;
    width: 50px;
  }
}